{{- if lookPath "starship" -}}
# starship
# --------
source <(starship init {{ .shell }})
{{ end }}
{{- if lookPath "fzf" }}
# fzf
# ---
export FZF_DEFAULT_OPTS_FILE="${HOME}/.config/fzf/config"

source <(fzf --{{ .shell }})

fc() {
  local dir

  dir="$(
    find "${1:-.}" -path '*/\.*' -prune -o -type d -print 2> /dev/null | fzf +m
  )" && cd "${dir}"
}

{{   if lookPath "rg" -}}
export FZF_DEFAULT_COMMAND="rg --files --no-ignore --hidden --follow --glob '!.git/*'"

rfv() {
  local query="$*"
  local reload='reload:rg --column --color=always --smart-case {q} || :'
  local opener='
    command -v nvim 2>&1 > /dev/null && export EDITOR="nvim"
    if [[ "$FZF_SELECT_COUNT" -eq 0 ]]; then
      "${EDITOR}" {1} +{2}
    else
      "${EDITOR}" +cw -q {+f}
    fi
  '

  fzf --disabled --ansi --multi \
    --bind "start:${reload}" --bind "change:${reload}" \
    --bind "enter:become:${opener}" \
    --bind "ctrl-o:execute:${opener}" \
    --delimiter : \
    --preview "bat --style=full --color=always --highlight-line {2} {1}" \
    --preview-window "~4,+{2}+4/3,<110(up)" \
    --query "${query}"
}
{{-   end }}
{{ end }}
{{- if lookPath "zoxide" }}
# zoxide
# ------
export _ZO_DATA_DIR="${HOME}/.local/share/zoxide"

source <(zoxide init {{ .shell }})

zl() {
  z "$@" && ls
}
{{ end }}
{{- if eq .editor "nvim" }}
# neovim
# ------
alias vim="nvim"
{{ end }}
