{{- $class := promptStringOnce . "class" "class (work/home)" -}}
{{- $shell := "zsh" -}}
{{- $lsOpts := "-GFT" -}}
{{- $pkgAdd := "brew install" -}}
{{- $pkgRemove := "brew uninstall" -}}
{{- $pkgSearch := "brew search" -}}
{{- $shellrc := printf "%s/.%src" .chezmoi.homeDir $shell -}}
{{- $prompt := `%F{cyan}[%n %~]%(!.#.\$) %F{none}` -}}
{{- $editor := "vim" -}}
{{- $editorrc := printf "%s/.config/vim/vimrc" .chezmoi.homeDir -}}
{{- $email := "pattonmj8503@gmail.com" -}}
{{- $hasNvim := not (eq (lookPath "nvim") "") -}}

{{- if not $hasNvim -}}
{{-   $hasNvim = promptBoolOnce . "hasNvim" "Deploy neovim config" -}}
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   $shell = "bash" -}}
{{-   $lsOpts = `-F --group-directories-first --time-style=+'%Y.%m.%d %H:%M' --color=auto` -}}
{{-   $pkgAdd = "sudo dnf install" -}}
{{-   $pkgRemove = "sudo dnf remove" -}}
{{-   $pkgSearch = "dnf search" -}}
{{-   $shellrc = printf "%s/.%src" .chezmoi.homeDir $shell -}}
{{-   $prompt = `\[$(tput setaf 6)\][\u@\h \W]\$\[$(tput sgr 0)\] ` -}}
{{- end -}}

{{- if eq $class "work" -}}
{{-   $email = "marc.j.patton@vumc.org" -}}
{{- end -}}

{{- if $hasNvim -}}
{{-   $editor = "nvim" -}}
{{-   $editorrc = printf "%s/.config/nvim/init.lua" .chezmoi.homeDir -}}
{{- end -}}

[data]
class = {{ $class | quote }}
shell = {{ $shell | quote }}
lsOpts = {{ $lsOpts | quote }}
pkgAdd = {{ $pkgAdd | quote }}
pkgRemove = {{ $pkgRemove | quote }}
pkgSearch = {{ $pkgSearch | quote }}
shellrc = {{ $shellrc | quote }}
prompt = {{ $prompt | quote }}
editor = {{ $editor | quote }}
editorrc = {{ $editorrc | quote }}
email = {{ $email | quote }}
